* {
    font-family: "DM Sans", sans-serif;
  }

  .header_photographe {
    background-color: #FAFAFA;
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: space-between;
    height: 250px;
    position: absolute;
    top: 10px;
    padding-left: 5%;
    margin-top: 10%;
    margin-bottom: 50%;
    margin-left: 50px;
}
   
  

  header > a img {
    width: 15%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
  }

section > a img { 

    margin-top: -3px;
    margin-bottom: 10px;
    margin-left: 1100px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 0px 30px 7px rgb(0 0 0 / 20%);
}

h2 {

    font-size: 55px;
    color: #D3573C;
    font-weight: 400;
    margin-bottom: 1%;
    margin-top: -2%;
}

.localisation {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }



  .slogant {

    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
  }




section > a p {

    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.tag1 {

  display: flex;
  justify-content: space-between;
  margin: 0.1875em;
  padding: 0;
  width: 100%; 
}



 .tag { 

    list-style: none;
    box-sizing: border-box;
    border-radius: 11px;
    color: #901C1C;
    font-weight: 500;
    font-size: 1em;
    margin-right: 0.5em;
    padding: 0.2em;
}

.tagselect:hover { 

    color: white;
  background-color: #901C1C;
  cursor: pointer;
}

.tagselect {

    display: inline;
    color: #901C1C;
    font-size: 20px;
    font-weight: bold;
    border: solid 0.5px #C4C4C4;
    border-radius: 11px;
    padding: 3px 7px 3px 7px;
    margin-right: 5px;
}

.tarif {

    position: fixed;
    bottom: -10px;
    right: 135px;
    font-size: 24px;
    font-weight: 500;
    background-color: #DB8876;
    padding: 25px 34px;
    border-radius: 5px 5px 0 0;
}
 
.header_photographe .container-profile__button {
  grid-column: 3;
  grid-row: 1;
  align-self: start;
  color: white;
  padding: 21px 11px;
  font-weight: 700;
  font-size: 20px;
  background-color: #901C1C;
  border-style: unset;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 600px;
}

.sort-by {
  margin: 20px 0 58px 100px;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  padding: 0%;
  margin-top: 1%;
}

.popularity-button {
  color: white;
  padding: 21px 11px;
  font-weight: 700;
  font-size: 18px;
  background-color: #901C1C;
  border-style: unset;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 13px;
}
.popularity-button .fas {
  margin-left: 26px;
}

.portfolio--photo-container {
  margin-left: 100px;
  margin-right: 80px;
  margin-top: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 71px 5px;
  padding: 10%;
  padding-left: 25px;
  padding-right: 25px;
}

.photo {
  margin: unset;
  width: 350px;
  height: 300px;
}
.photo-picture {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}
.photo-footer {
  margin-top: 10px;
  font-size: 24px;
  color: #901C1C;
}
.photo-footer__likes {
  float: right;
  margin-left: 20px;
}
.photo-footer__price {
  float: right;
}

.static-insert {
  position: fixed;
  bottom: 0;
  right: 36px;
  font-size: 24px;
  font-weight: 500;
  background-color: #DB8876;
  padding: 21px 34px;
  border-radius: 5px 5px 0 0;
}
.static-insert .total-likes {
  margin-right: 67px;
}

